.Wrapper {
  display:flex;
  flex-direction:row;
  background-color: white;
  border: 1px solid black;
}

.Wrapper h1{


}

/*.Center {
  display: block;
  width: 50%;
  margin: 70px auto;
}*/

.resume {
  display:flex;
  flex-direction:row;
  text-align: center;
  background-color: #2C7E9A;
  width: 700px;
  border: 3px solid gray;
  border-radius: 5px;
  box-shadow: 7px 7px 5px #888888;
}

/* My Info */

.myInfo{
  width: 300px;
  text-align: center;
}

.myInfo img {
  height: 150px;
  width: 150px;

}

/* Experience */
.jobDiv{
  text-align: left;
}

.jobDiv p{
  margin: 2px;
}

/* Job Card */

.Card {
  text-align: center;
  background-color: #2C7E9A;
  max-width: 800px;
  border: 3px solid gray;
  border-radius: 5px;
  box-shadow: 7px 7px 5px #888888;
}

.Card-image {

  height: 100px;
  width: 120px;
}

.Info-card span {
  color: white;
}

.Info-card p{
  /*border: 1px solid navy*/
  height: 50px;
}

.Info{
  /*border: 1px solid black*/
  border-radius: 12px;
}
