.Wrapper {
  display:flex;
  flex-direction:row;
  background-color: white;
}

.Wrapper h1{


}

/*.Center {
  display: block;
  width: 50%;
  margin: 70px auto;
}*/

.resume {
  display:flex;
  flex-direction:row;
  text-align: center;
  background-color: #292727;
  max-width: 990px;
  /*border: 3px solid black;*/
  border-radius: 5px;
  box-shadow: 7px 7px 5px #888888;
}

/* My Info */

.myInfo {
  width: 300px;
  height: 500px;
  text-align: center;
  color: white;
}

.myInfo img {
  height: 150px;
  width: 150px;

}

.infoDiv {
  text-align: left;
  padding: 5px 10px;
  margin: 10px;
  background-color: #444040;
}

.logoDiv img {
  height: 35px;
  width: 35px;

}

/* Experience */
.myXP{
  color: white;
}

.myXP h1 {
  font-size: 25px;
  text-align: left;
  padding-left: 4px
}

.jobDiv {
  text-align: left;
}

.jobDiv p {
  margin: 2px;
}

.jobLine {
  margin: 10px 0px 50px 0px;
}

.jobLine h3 {
  border-bottom: 10px solid #3F7FBF;
}

.jobLine p {
  padding-left: 3px;
}

/* Job Card */

.Card {
  text-align: center;
  background-color: #444040;
  height: 510px;
  width: 350px;
  margin: 20px 20px 20px 60px;
  /*border: 3px solid black;*/
  /*box-shadow: 7px 7px 5px #888888;*/
  color: white;
}

.Card h2, h3{
  margin: 5px;
}

.Card-image {
  height: 150px;
  width: 180px;
  margin: 10px 0px;
}

.Info-card span {
  color: white;
}

.Info-card p{
  /*border: 1px solid navy*/
  height: 50px;
}

.Info{
  /*border: 1px solid black*/
  border-radius: 12px;
  text-align: center;
}
