/* HomePage */

body {
    background: url("https://raw.githubusercontent.com/nss-evening-cohort-05/challenge-static-web-html-webbdm/master/images/gsmbackground.png") no-repeat center fixed;
    background-size: cover;
  }
  
  nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-top: 40px;
      margin-bottom: 2%;
      text-align: center;
  }
  
  ul {
     display: flex;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
  /*    border: 1px solid black; */
     margin: 0 auto;
     padding: 0;
  }
  
  ul li {
    list-style-type: none;
    text-decoration: none;
    margin: 5px 15px;
    justify-content: space-between;
    font-family: roboto;
    font-size: 20px;
  }
  
  li img{
   height: 120px;
   width: auto;
  }
  
  .sides, a {
    text-decoration: none;
    color: black;
    padding: 3px;
    /* color: navy; */
    text-transform: uppercase;
  }
  
  .sides:hover a{
    /* background-color: navy; */
    /* color: #8D2020; */
    border-radius: 2px;
    outline: 2px solid black;
    /* padding: 3px; */
    
  }

  .home-banner{
      width: 50%;
      margin: 20% auto;
      text-align: center;
      color: white;
  }
  
  footer {
      position: fixed;
      left: 0px;
      bottom: 0px;
      height: 60px;
      width: 100%;
      background-color: rgba(79, 57, 57, 0.68);
  }
  
  footer a {
      float: left; 
      margin: 10px 10px;
      text-decoration: none;
      list-style: none;
  }
  
  footer img {
      height: 30px;
      width: auto;
  
  }
  
  .f-links{
    
    margin: 5px 15px;
    
  }

  .f-links span{
    color: white;
    font-family: roboto;
  }

  .footer-right{
      float: right;
      margin: 5px 15px;
  }

  .footer-right>*{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
  }

  .footer-right img{
      margin-left: 15px;
      height: 40px;
      width: auto;
  }
  
  
  /*////// Media Queries //////*/
  
  @media (max-width: 840px) {
    
      ul {
       flex-direction: column;
      }
    
      ul li {
        margin: 5px 4px;
        padding: 2px;
      }
      
      li img  {
        order: 1
      }
      .sides  {
        order: 2
      }
    
  }

/* Projects */
.projects-wrapper{
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 7%;
    text-align: center;
}

.projects-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projects-box h1{
    text-decoration: underline;
}


.project-item{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 300px;
    width: 400px;
}

.project-item img{
    flex-grow: 1;
    height: 200px;
    width: 300px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 3px;
}

.project-item p{
    flex-grow: 1;
    font-size: 14px;
    color: white;
    width: 300px;
    text-align: justify;
}

.project-view-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 10%;
}

.project-view-image, .project-view-info{
    margin: 0 3%;
}

.project-view-image img{
    height: 300px;
    width: auto;
    margin: 20px;
    border: 2px solid black;
    border-radius: 3px;
}

.project-view-info{
    flex-grow: 1;
    font-size: 12px;
    color: white;
    width: 40%;
    padding: 0;
}

/* .trek-img{
    background: url('https://raw.githubusercontent.com/webbdm/React-BioCards/nav-routes/images/Trek%20Screenshot.png')  no-repeat;
}

.macro-img{
    background: url('https://raw.githubusercontent.com/webbdm/React-BioCards/nav-routes/images/Macro%20Screenshot.png')  no-repeat;
}

.til-img{
    background: url('https://raw.githubusercontent.com/webbdm/React-BioCards/nav-routes/images/TIL%20Screenshot.png')  no-repeat;
} */

/* Resume */

.profile-wrapper{
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 5%;
}

.root{
    color: black;
}

.Wrapper {
    /* border: 1px solid gray; */
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Wrapper h1 {}

.resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    background-color: #292727;
    width: 100%;
    /*border: 3px solid black;*/
}

.nav {
    text-align: left;
    font-size: 35px;
    color: navy;
    width: 100%;
    height: 0px;
    background-color: #3F7FBF;
    flex-basis: 100%;
}

.nav span {
    color: #292727;
}

/* My Info */

.myInfo {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
    text-align: center;
    color: white;
}

.myInfo img {
    height: 173px;
    width: 170px;
}

.myInfo h3 {
    color: #3F7FBF;
}

.infoDiv {
    text-align: left;
    max-width: 240px;
    padding: 5px 10px;
    background-color: #444040;
}

.infoDiv h4 {
    margin: 7px 0px 7px 5px;
    border-bottom: 2px solid #3F7FBF;
    width: 78px;
}

.infoDiv p {
    margin: 0px 5px 5px 5px;
}

.infoDiv span {
    font-size: 13px;
    color: #292727;
}

.bio {
    padding: 20px 0px 15px 0px;
}

.degree {
    font-size: 11px;
    margin: 0px 0px 60px 0px;
}

.logoDiv {
    margin: 5px 0 20px 0;
    padding: 3px 0;
    width: 170px;
    border-top: 2px solid #3F7FBF;
    border-bottom: 2px solid #3F7FBF;
}

.logoDiv img {
    margin: 0px 5px;
    height: 35px;
    width: 35px;
}


/* Experience */

.myXP {
    color: white;
}

.myXP h1 {
    font-size: 25px;
    text-align: left;
    padding-left: 4px
}

.jobDiv {
    text-align: left;
}

.jobDiv p {
    margin: 2px;
}

.jobLine {
    margin: 10px 0px 50px 0px;
    cursor: pointer;
}

.jobLine h3 {
    border-bottom: 10px solid #3F7FBF;
}

.jobLine p {
    padding-left: 3px;
}

.jobLine:hover{
    background-color: #444040;
    border-radius: 5px;
}

@media(max-width: 650px){
    .myXP h1 {
        text-align: center;
        margin-top: 40px;
    }
}

/* Job Card */

.Card {
    text-align: center;
    background-color: #444040;
    height: 510px;
    width: 350px;
    margin: 20px 0px 20px 0px;
    /*border: 3px solid black;*/
    /*box-shadow: 7px 7px 5px #888888;*/
    color: white;
}

.Card h2, h3 {
    margin: 5px;
}

.Card-image {
    height: 150px;
    width: 150px;
    margin: 10px 0px;
}

.Info-card span {
    color: white;
}

.Info-card p {
    /*border: 1px solid navy*/
    height: 50px;
}

.Info {
    /*border: 1px solid black*/
    border-radius: 12px;
    text-align: center;
}

/* About */

.about-wrapper{
    max-width: 1100px;
    margin: 5% 0;
    display: grid;
    /* grid-template-columns: 150px 150px;  */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 300px; 
    justify-content: center;
    grid-gap: 120px;
    padding: 0px 100px;
}

.about-img{
    display: flex;
    justify-content: space-around;
    /* grid-column: 1 / 2; 
    grid-row:  1 / 1; */
}

.about-img img{
    border-radius: 4px;
}

.about-wrapper p{
    margin: 10px;
    /* grid-column: 2 / 2; /* grid-column-start: 5; 
    grid-row:  1 /1; */
}

/* Contact */
.contact-wrapper{
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 5%;
}

.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.contact-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-item img{
    align-self: left;
    margin: 70px;
}

.contact-item p{
    align-self: right;
    margin: 70px;
}
